* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: #f6f8fc;
  margin: 50px;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.subtitle {
  color: #6b6b6b;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.title-card {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.descripcion-card {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}
.card {
  width: 16.75rem;
  height: 16rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 0.1);
  padding: 1.5rem;
}
.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 100%;
}
.color-icon-pink {
  background-color: #f7ddff;
}
.color-icon-blue {
  background-color: #dde8ff;
}
.color-icon-red {
  background-color: #ffddde;
}
.color-icon-green {
  background-color: #dfffdd;
}
.container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (hover: hover) {
  .card-pink:hover {
    background-color: #f0c8fe;
  }
  .card-blue:hover {
    background-color: #cadbff;
  }
  .card-red:hover {
    background-color: #ffcaca;
  }
  .card-green:hover {
    background-color: #b4ffaf;
  }
}
